ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#conteneur {
    display: flex;
    justify-content:space-around;
    background-color:#F2F2F2;    
}
nav{
    display:;
}
#hebergements{
    display: flex;
    justify-content:space-evenly
}
