@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;  
}

body{
    min-width: 320px;
    max-width: 1600px;
    
}
/*header*/

a {
    color: black;
    text-decoration: none;
  }
  
  header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . nav signup";
    align-items: center;
  }
  .header__img {
    grid-area: logo;
    padding: 0 1rem;
    height: 3rem;
  }
  .header__nav {
    display: flex;
    grid-area: nav;
  }
  .header__nav__navlink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  .header__nav__navlink:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
  }
  .header__signup {
    display: flex;
    grid-area: signup;
    padding: 2rem;
    color: #0065fc;
    font-weight: 600;
  }

/*filtre*/

form{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.filter form p {
    color:gray;
    padding-bottom: 20px;
    padding-top: 15px;
}

.input_field {
    position: relative;
    width: 350px;
    height: 37px;
}

.input_field .fa-map-marker-alt {
    position: absolute;
    height: 100%;
    z-index: 5;
    line-height: 37px;
    background-color: #F2F2F2;
    padding: 0 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    
}

.input_field input[type=search],
.input_field input[type=search]:focus {
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid #F2F2F2;
    font-size:30px ;
    border-radius: 10px;
    padding-left: 12%;
    outline: none;
}

.input_field input[type=search]::placeholder{
    position: absolute;
    display: block;
    height: 100%;
    color: black;
    font-size: 20px;
    line-height: 37px;
    font-weight: bold;
}
.input_field button  {
    display: block;
    position: absolute; 
    height: 100%;
    right: 0;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #0065FC;
    color: #F2F2F2;
    padding: 0 15px;
    font-weight: bold;
    cursor: pointer;
}

.input_field button i {
    display: none;
}
.filtre_avance {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.filtre_avance p {
    padding-right: 20px;
    font-weight: bold;
    line-height: 41px;
}

.groupe_filter {
    position: relative;
    display: flex;
    width: 80%;
}

.groupe_filter {
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 1vw;
   
}

.groupe_filter div{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.groupe_filter div p {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    padding-left: 50px;
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    font-weight: bold;
}

.groupe_filter div p:hover{
    background-color: #0065FC;
    color: #fff;
    cursor: pointer;    
}

.groupe_filter div i{
    position: absolute;
    top: 0;
    left: 0;
    width: 41.91px;
    height: 100%;
    color: #0065FC;
    line-height: 41.91px;
    text-align: center;
    background-color: #DEEBFF;
    border-radius: 50%;
}

.filter .infos i{
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.filter .infos span{
    margin-left: 10px;
    padding: 10px;
}
.filter .infos {
    margin-bottom: 20px;
    margin-top: 25px;
}

main {
    margin-top: 20px;
    padding: 1rem;
}

.container {
    display: flex;
    column-gap: 2rem;
}

.container .hebergement{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color:#F2F2F2;
    border-radius: 10px;
   
}

.hebergement  h2{
  margin-top: 50px;
    margin-left: 30px;
}
.container .hebergement .hotels{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2rem;
    
}

.hoteldescription:hover {
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
}

.container .hoteldescription{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 10px;
    
    
}

.container .hoteldescription .card_image{
    width: 100%;
}
.container .hoteldescription .card_image img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
   
}

.container .hoteldescription .card_content strong,
.container .hoteldescription .card_content span{
    display: block;
   margin-right: 5px;
   padding: 3px;
}

.container .hoteldescription .card_content{
    margin-left: 5px;
}
.container .hoteldescription .card_note .bluestar{
    color: #0065FC;
   
}

.container .hoteldescription .card_note .graystar{
    color: #cecccc
}

.container .hoteldescription .card_note{
    margin-left: 5px;
    padding-bottom: 5px;
}

.afficher{
    margin-left: 30px;
    font-weight: bold;
    margin-top: 10px;
}


/*mise en page de la partie les plus populaire*/

.populaire {
    position: relative;
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 10px;
    padding-bottom: 4rem;
    
}

.populaire div.title{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
   
}

.populaire div.title h2{
    padding-left: 1vw;
    margin-top: 2vw;
}

 .populaire div.title i{
     font-size: 30px;
    padding-right: 1rem;
    margin-top: 2vw;
}

.populaire .group{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    row-gap: 2rem;
}

.populaire .group .card_populaire{
    position: relative;
    display: flex;
    width: 90%;
    height: 170px;
    border: solid 5px #fff;
    background-color: #fff;
    border-radius: 15px;
    
}

.populaire .group .card_populaire:hover{
    -webkit-transform: scale(1.1); /* Safari et Chrome */
    -moz-transform: scale(1.1); /* Firefox */
    -ms-transform: scale(1.1); /* Internet Explorer 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
}

.populaire .group .card_populaire .card_image{
    position: relative;
    width: 130px;
    height: 160px;
    margin-right: 10px;
}

.populaire .group .card_populaire .card_image img{
    width: 130px;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaire .group .card_populaire .desc{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /*align-items: stretch;*/
    padding:2px;
    
}

.populaire .group .card_populaire .desc .card_content{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}



.populaire .group .card_populaire .desc .et .bluestar{
    color: #0065FC;
}

.populaire .group .card_populaire .desc .et .graystar{
    color:#cecccc
}


/*mise en page de la section activités*/
 
  .container_activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 50px 50px 200px;
    column-gap: 2rem;
    margin-bottom: 50px;
    
    
    
  }

.titre_activites{
    margin-top: 3rem;
    margin-bottom: 2rem;
   
}

.titleacti {
    margin: 1.2rem 1.5rem;
    
  }



.mosa {
    object-fit: cover;
    border-top-left-radius:1.25rem ;
    border-top-right-radius:1.25rem ;
    max-width: 100%;
    height: auto;
}

.item-a  img {
    height: 482px;
 
   
}

.item-b img{
    width: 100%;
   height: 235px;
   
}

.item-c img {
    width: 100%;
    height: 132px;
    
   
}

.item-d img{
    height: 482px;
}

.item-e img {
    width: 100%;
    height: 170px;
    

}

.item-f img {
    width: 100%;
    height: 182px;

  
}   
    



/*les item grid*/

.grid_acti.item-a{
    grid-column: 1/2; 
    grid-row: 1/6;
   
}

.item-b {
    grid-column: 2/3;
    grid-row: 1/4;
    
   
}
.item-c{
    grid-column: 2/3;
    grid-row: 5/6;
    
}

.item-d{
    grid-column: 3/4;
    grid-row:1/6 
} 

.item-e{
    grid-column: 4/5;
    grid-row: 1/3;
}

.item-f{
    grid-column: 4/5;
    grid-row:4/6
  
}

.grid_acti{
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e; 
}

.grid_acti:hover{
  -webkit-transform: scale(1.05); /* Safari et Chrome */
  -moz-transform: scale(1.05); /* Firefox */
  -ms-transform: scale(1.05); /* Internet Explorer 9 */
  -o-transform: scale(1.05); /* Opera */
  transform: scale(1.05);
  cursor: pointer;
}

/* mise en page du footer*/ 
.item-footer ul {
    list-style-type: none;
}

.item-footer li {
    align-items: center;
}
.footer{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    background-color:#F2F2F2;
    max-width: 100%;
    margin-top: 5rem;
    width: 100%;   
    margin-right: 50px;
    padding-left: 3rem;
   
}

.footer .titre_footer {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.item-footer{
  display: flex;
  flex-direction:column;
  justify-items: center;
  padding-right: 7rem;
  
}


.footer li{
  margin-bottom: 10px;
}

/*version tablette*/

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .container {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .hebergement {
      order: 2;
      width: 100%;
      margin-top: 15px;
      background-color: #fff;
    }
  
    .hotels {
      flex-direction: row;
    }

    .populaire {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-bottom: 30px;
      order: 1;
      width: calc(100% - 10px);
    }
  
    .container .hebergement {
      width: 100%;
    }

    .groupe_filter {
      margin-top: 10px;
    }

    

    
  }
  
  /* Mobile version */
  
  @media screen and (max-width: 768px) {

    main{
        padding: 0;
        margin: auto;
    }
    header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . signup" "nav nav nav";
    }

    .header__img {
      order: 0;
    }
    .header__signup {
      order: 1;
    }

    .header__nav {
      order: 2;
    }

    .header__nav__navlink {
      border-top: none;
      border-bottom: 3px solid #f2f2f2;
      width: 50%;
      
    }

    .header__nav__navlink:hover {
      border-top: none;
      border-bottom-color: #0065fc;
    }

    /*barre de recherche*/
    .filtre_avance {
      flex-direction: column;
    }
    .groupe_filter{
        gap: 1rem;
        font-size: 15px;
        width: 350px;
    }
    .input_field{
        margin: auto;
    }
    .input_field button span {
      display: none;
    }
    .input_field button i {
      display: block;
    }

    /*hébergement et populaire*/

    .container {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .container .hebergement {
      width: 100%;
      order: 2;
      background-color:#fff;
      gap: 1rem;
      
    }
    .hebergement h2{
        margin-left: 0;

    }

    .afficher{
        margin-left: 0;

    }
    .container .populaire {
      width: 100%;
      order: 1;
      height: auto;
      border-radius: 0;
    }

    .populaire div.title h2{
        margin-left: 15px;

    }
    
    .container .hoteldescription {
      width: 100%;
      box-shadow: 0 0 12px rgb(194, 193, 193);
    }



    /*les activités*/


    .container_activites{
        display: flex;
        flex-direction: column; 
        gap: 3rem;
        
    }
    .mosa{
        max-width: 100%;
        max-height: 150px;
        width: 100%; 
    }

    .grid_acti{
        width: 100%;
    }
  
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem 1rem;
        height: auto;
        
      }

    .item-footer{
        padding-right: 0;
    }
  }









   
